/* General styling */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.site-wrap {
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  padding: 0;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.9);
  transition: transform 0.5s;
}

.fixed-nav .site-wrap {
  transform: scale(1);
}

body {
  font: 16px/1.4em "Libre Franklin", sans-serif;
  color: #1c1c1c;
  width: 100%;
  height: 100%;
  margin: 0;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.left {
  width: calc(100% - 10px);
  max-width: 575px;
  padding: 30px;
  font-family: "Eczar", serif;
  text-align: left;
}

.left h2 {
  color: white;
  text-shadow: 2px 2px 7px #000;
  font-size: 38px;
  font-weight: 700;
}

.left p {
  font-size: 20px;
}

.right {
  max-width: calc(100% - 10px);
  margin: 10px;
}
img {
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.port-text {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.port-text h2 {
  margin: 20px 0;
  font-size: 40px;
}

.port-text h3 a {
  color: #000;
}

section#portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: calc((100% - 200px) / 3);
}

.box {
  border: none;
}

#boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-content img {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-content a, .box-content h4, .box-content p {
  text-align: center;
  font-weight: normal;
}

.git-link {
  color: #000;
  text-decoration: none;
}

article {
  border-bottom: 1px solid #d8d8d8;
  margin: 0;
}

/* Header */

header {
  text-align: center;
  height: 40vh;
  background: url(../images/javascript.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* alt attribute left out because header background image is purely aesthetic and conveys no data. */
}

.logo-top {
  font-size: 1.9em;
  color: #fff;
  position: absolute;
  top: 320px;
  left: 32px;
  font-family: "Eczar", serif;
}

/* Navigation */

nav {
  background: #fff;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.nav-logo {
  display: flex;
}
.nav-logo a {
  background: #000;
}
.name-first:before {
  content: "DruNken";
  font-size: 18px;
  text-transform: none;
  color: #fff;
}

.name-sec:before {
  content: "KisMet";
  font-size: 20px;
  text-transform: none;
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}

nav a:hover {
  color: rgba(50, 50, 50, 0.7);
  font-size: 1.025em;
  text-shadow: 1px 1px 0.5px #000;
}

nav a:active {
  outline: none;
  color: #000;
  font-size: inherit;
  text-shadow: none;
}

li.nav-logo {
  max-width: 0;
  overflow: hidden;
  background: #fff;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.nav-logo a {
  color: #000;
  width: 100%;
}

li.nav-logo a:hover {
  color: #fff;
  background: #000;
}

.fixed-nav li.nav-logo {
  max-width: 500px;
}

/* Footer */

footer {
  font-size: 14px;
  padding: 10px;
}

footer p {
  text-align: center;
}

section.footer-social {
  max-width: 75%;
  margin: 0 auto;
	display: grid;
  grid-template-areas: "h h h h"
                       "f t g l";
}

.footer-social h2 {
  text-align: center;
  grid-area: h;
  margin: 0 0 10px 0;
}

.facebook {
  grid-area: f;
}

.twitter {
  grid-area: t;
}

.github {
  grid-area: g;
}

.linkedin {
  grid-area: l;
}

section.footer-social a {
  color: #000;
	width: 40px;
	height: 40px;
	font-size: 25px;
	margin-right: 10px;
	padding-top: 15%;
  margin: 0 auto;
  padding: 10px;
}

.validation {
  max-width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "vh vh"
                       "h c";
}

.validation h2 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  grid-area: vh;
}

.css-v {
  grid-area: c;
}

.html-v {
  grid-area: h;
}

section.validation p a img {
  border: 0;
  width: 88px;
  height: 31px;
}

/* Parallax Effects */

.parallax {
  background-image: url("../images/javascript.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* alt attribute left off parallax image because it is purely aesthetic and conveys no relevant data */
}

/* jQuery-related classes (for pop-in effect on portfolio boxes) */

.come-in {
  transform: translateY(200px);
  animation: come-in 1s ease forwards;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* Media Queries*/

@media only screen and (max-width: 680px) {

  header {
    height: 25vh;
  }

  .logo-top {
    font-size: 1.1em;
    font-weight: normal;
    color: #fff;
    position: absolute;
    top: 120px;
    left: 10px;
    font-family: "Eczar", serif;
    margin: 0;
  }

  .site-wrap {
    width: 100%;
    transform: scale(1);
    margin: 0;
    padding: 0;
  }

  .parallax {
    height: 250px;
    width: 100%;
  }

  nav a {
    font-size: 0.7em;
    max-height: 48px;
    margin: 0;
    padding: 10px 0;
  }

  li.nav-logo a {
    padding: 0;
  }

  .name-first:before {
    font-size: 14px;
    display: block;
  }

  .name-sec:before {
    font-size: 14px;
    display: block;
  }

  a.name-first, a.name-sec {
    line-height: 80%;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .intro {
    display: block;
  }

  .left {
    min-width: 100%;
  }

  .left  h2, .left p, .left h3 {
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .left p, p {
    font-size: 14px;
  }

  .right {
    min-width: 100%;
  }

  section#portfolio {
    display: block;
    width: 100%;
    height: calc((100% - 200px) / 6);
  }

  div.box-content.already-visible.come-in {
    padding-bottom: 10px;
  }

  div.port-text {
    border-bottom: 1px solid rgba(13, 13, 13, 0.2);
  }

  div.port-text > * {
    margin: 10px 0;
  }

  .box {
    border: none;
    border-bottom: 1px solid rgba(13, 13, 13, 0.2);
  }

  #boxes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .port-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 0;
  }

  .box-content > * {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  a.git-link {
    font-size: 1.1em;
    padding: 10px;
    padding-left: 3px;
    font-weight: bold;
  }
}

@media scree and (min-width: 1201px) {
  .intro .right {
    display: none;
  }
}

@media screen and (max-width: 1500px) {

  .intro {
    display: block;
    width: 100%;
  }

  .left {
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: justify;
  }

  .left h2 {
    font-family: "Eczar", serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  .left h3 {
    font-family: "Eczar", serif;
    font-size: 28px;
  }

  div.right {
    display: none;
  }

  div.intro-top {
    width: 100%;
    margin: auto;
    }

    .intro-top img {
      width: 100%;
    }
  }

@media screen and (min-width: 1501px) {

  #boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .intro .intro-top {
    display: none;
  }

}
