* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: arial;
	background-image: url("../images/texture-1362879_1920.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.samples {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
}

.grid {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 0 100px;
}

#magicalInput {
	padding: 10px;
	border-radius: 5px;
	font-size: 1.2em;
	display: flex;
	width: 25%;
	margin: 20px auto;
	text-align: center;
}

.box {
	width: calc((100% - 10px) / 2);
	text-align: center;
	min-height: 75px;
}

.title {
	font-family: arial;
	padding: 5px 0;
	color: #eee;
	font-weight: bolder;
	background-color: rgba(0,80,10,0.3);
}

.code {
  	padding: 10px 5px;
  	font-size: 1.8em;
  	color: #111;
  	word-wrap: break-word;
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.box {
		width: calc(100% * (1/2)); }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.box {
		width: calc(100% * (1/4)); }
}
