body {
 font-size: 14px;
 font-family: 'Muli', sans-serif;
 margin: 10px;
}

.card {
  border: .5px solid silver;
  box-shadow: 5px 5px #e6e6e6;
  padding: 10px;
  width: 300px;
  background: linear-gradient(to bottom, #ac570c 0%,#de600c 0%,#de600c 0%,#de600c 0%,#f06712 0%,#f06712 0%,#f6a170 0%,#f4b695 0%,#f4b695 0%,#f4ded2 50%);
}

img {
  width: 300px;
}

.animal-name {
  font-size: 2em;
  margin: 0px 0 10px 0;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

img {
  min-width: 100%;
  height: auto;
}

.information {
  border: .5px solid silver;
  padding: 10px;
  text-align: justify;
}

.fact {
  font-style: italic;
}

.items {
  font-weight: bold;
  margin-left: -40px;
}

ul {
  list-style-type: none;
}

.learn-more {
  text-decoration: none;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 1.5em;
}

.learn-more:hover {
  cursor: pointer;
  text-shadow: #f4b797 0.1em 0.1em 0.2em;
}

.more {
  float: right;
}

.clear {
  clear: right;
}
